<div class="project-card"> 
    <div class="card">
        <div class="card-header">
            <img [src]="cardData?.image" alt="Project Image" />
            <h3 class="card-title">{{cardData?.name}}</h3>
            <p>{{cardData?.category}}</p>
        </div>
        <div class="card-body">
            <p>{{cardData?.description}}</p>
            <div class="chip-container">
                @for (item of cardData?.technologies; track $index) {
                    <span class="tech-chip">{{item}}</span>
                }
            </div>
            <div>
                <button class="btn-style" mat-button (click)="goToGithubPage()">GitHub</button>
            </div>
        </div>
    </div>
</div>