.example-spacer {
    flex: 1 1 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    gap: 10px;
}

.hire-me{
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.mode {
    margin: 10px 10px;
}