<mat-toolbar>
    <span class="logo-container">
        <img  src="/assets/app-logo.svg" alt="app-logo">
        <span class="logo">AP</span>
    </span>

    <span class="example-spacer"></span>

    <a mat-button>Home</a>
    <a mat-button>About</a>
    <a mat-button>Skills</a>
    <a mat-button>Experience</a>
    <a mat-button>Projects</a>
    <a mat-button>Contact</a>
    <span>
        <mat-slide-toggle class="mode">Dark Mode</mat-slide-toggle>
    </span>
    <button mat-button class="hire-me">Hire Me</button>
</mat-toolbar>